# Proyek Analisis Data: Bike Sharing Dataset
- **Nama:** Kartika Rahma Sulistyawati
- **Email:** tyakartika24@gmail.com
- **ID Dicoding:** kartika_rahma_s

## Menentukan Pertanyaan Bisnis

- Bagaimana distribusi peminjaman sepeda berdasarkan weathersit?
- Bagaimana variasi penyewaan sepeda sepanjang hari?

## Import Semua Packages/Library yang Digunakan

In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

Memuat tabel day dari file day.csv menjadi sebuah DataFrame

In [133]:
day_df = pd.read_csv("day.csv")

Menampilkan 5 baris pertama dari DataFrame day_df

In [134]:
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

Memuat tabel hour dari file hour.csv menjai sebuah DataFrame

In [135]:
hour_df = pd.read_csv("hour.csv")

Menampilkan 5 baris pertama dari DataFrame hour_df

In [136]:
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

**Insight Gathering Data:**
- dataset day.csv merupakan jumlah bike sharing yang dikumpulkan per hari.
- dataset hour.csv merupakan jumlah bike sharing yang dikumpulkan per jam.
- baik hour.csv maupun day.csv memiliki kolom berikut, kecuali hr yang tidak tersedia di day.csv:
  - instant: indeks catatan
  - dteday: tanggal
  - season: musim (1:springer, 2:summer, 3:fall, 4:winter)
  - yr: tahun (0:2011, 1: 2012)
  - mnth: bulan (1 hingga 12)
  - hr: jam (0 hingga 23)
  - holiday: weather day libur atau tidak
  - weekday: hari dalam seminggu
  - workingday: jika hari tersebut bukan akhir pekan atau hari libur adalah 1, jika tidak adalah 0
  - weathersit:
    - 1: bersih, sedikit awan, berawan sebagian
    - 2: kabut+berawan, kabut+awan pecah, kabut+sedikit berawan, kabut
    - 3: salju ringan, hujan ringan+badai petir+ awan tersebar, hujan ringan+awan tersebar
    - 4: hujan lebat+es palet+badai petir+kabut, salju+kabut
  - temp: suhu normal dalam celcius. nilai dibagi menjadi 41 (maks)
  - atemp: suhu normalized feeling dalam celcius. nilai dibagi menjadi 50 (maks)
  - hum: kelembaban normal. nilai dibagi menjadi 100 (maks)
  - windspeed: kecepatan angin normal. nilai dibagi menjadi 67 (maks)
  - casual: jumlah pengguna casual
  - registered: jumlah pengguna terdaftar
  - cnt: jumlah total sepeda sewaan termasuk casual dan terdaftar

### Assessing Data

#### Menilai data day_df

In [137]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

Jumlah data pada day_df telah lengkap, tidak ada missing value di dalamnya. Namun, terdapat kesalahan tipe data untuk kolom dteday yang seharusnya direpresentasikan sebagai tipe data datetime, bukan object.

Memeriksa duplikasi dan ringkasan parameter statistik dari kolom numerik pada day_df. proses ini dilakukan dengan menjalankan kode berikut.

In [ ]:
print("Jumlah duplikasi: ",day_df.duplicated().sum())
day_df.describe()

Tidak ada keanehan pada hasil tersebut. day_df tidak terdapat duplikasi dan keanehan nilai.

#### Menilai data hour_df

In [ ]:
hour_df.info()

Jumlah data pada hour_df telah lengkap, tidak ada missing value di dalamnya. Namun, terdapat kesalahan tipe data untuk kolom dteday yang seharusnya direpresentasikan sebagai tipe data datetime, bukan object.

Memeriksa duplikasi dan ringkasan parameter statistik dari kolom numerik pada hour_df.

In [ ]:
print("Jumlah duplikasi: ",hour_df.duplicated().sum())
hour_df.describe()

Tidak ada duplikasi dan keanehan nilai pada hour_df.

**Insight Assessing Data:**
- Pada day_df terdapat kesalahan tipe data untuk kolom dteday.
- Pada hour_df terdapat kesalahan tipe data untuk kolom dteday.

### Cleaning Data

#### Membersihkan data day_df

Membersihkan data day_df dengan mengganti tipe data pada kolom dteday yang seharusnya direpresentasikan sebagai tipe data datetime, bukan object.

Proses ini menggunakan funtion to_datetime() yang disediakan oleh library pandas.

In [ ]:
datetime_columns = ["dteday"]

for column in datetime_columns:
  day_df[column] = pd.to_datetime(day_df[column])

Untuk memastikan perubahan berjalan sesuai harapan, tipe data tersebut diperiksa kembali menggunakan method info()

In [ ]:
day_df.info()

Semua tahapan untuk mengganti tipe data pada day_df sudah berjalan sesuai harapan

#### Membersihkan data hour_df

Membersihkan data hour_df dengan mengganti tipe data pada kolom dteday yang seharusnya direpresentasikan sebagai tipe data datetime, bukan object.

Proses ini menggunakan funtion to_datetime() yang disediakan oleh library pandas.

In [ ]:
datetime_columns = ["dteday"]

for column in datetime_columns:
  hour_df[column] = pd.to_datetime(hour_df[column])

Untuk memastikan perubahan berjalan sesuai harapan, tipe data tersebut diperiksa kembali menggunakan method info()

In [ ]:
hour_df.info()

Semua tahapan untuk mengganti tipe data pada day_df sudah berjalan sesuai harapan.

**Insight Cleaning Data:**
- Proses cleaning data day_df sudah berjalan sesuai harapan. Tipe data pada kolom dteday yang awalnya object berubah menjadi datetime.
- Proses cleaning data hour_df sudah berjalan sesuai harapan. Tipe data pada kolom dteday yang awalnya object berubah menjadi datetime.

## Exploratory Data Analysis (EDA)

### Explore data day_df

Pada tahap ini, kita melihat deskripsi statistik dan variabel cnt (jumlah total peminjaman) dan weathersit.

In [ ]:
print(day_df[['cnt', 'weathersit']].describe())

Berdasarkan deskripsi statistik tersebut, weathersit hanya 1 sampai 3, tidak sampai 4. Jumlah peminjaman sepeda paling sedikit 22 dan paling banyak 8714.

Selanjutnya kita mencoba melihat persebaran jumlah peminjam berdasarkan weathersit.

In [ ]:
day_df.groupby(by="weathersit").cnt.nunique().sort_values(ascending=False)

### Explore data hour_df

Pada tahap ini, kita melihat deskripsi statistik dan variabel cnt (jumlah total peminjaman), hr (jam), casual, dan registered.

In [ ]:
print(hour_df[['cnt', 'hr', 'casual', 'registered']].describe())

Berdasarkan deskripsi statistik tersebut, peminjaman sepeda terjadi dari 0-23 jam. Jumlah sepeda yang disewa paling sedikit 1 dan paling banyak 977. jumlah pengguna casual paling sedikit 0 dan paling banyak 367, Jumlah pengguna registered paling sedikit 0 dan paling banyak 886.

Selanjutnya kita mencoba melihat persebaran jumlah peminjam berdasarkan hr.

In [ ]:
hour_df.groupby(by="hr").cnt.nunique().sort_values(ascending=False)

### **Insight EDA:**
- Jumlah penyewa sepeda pada weathersit 1 terbanyak dan paling sedikit ada di weather sit 3.
- Jumlah penyewa sepeda paling banyak ada di jam 17 dan paling sedikit di jam 4.

## Visualization & Explanatory Analysis

### Pertanyaan 1: Bagaimana distribusi peminjaman sepeda berdasarkan weathersit?

Viualisasi menggunakan line chart dan boxplot untuk melihat distribusi peminjaman sepeda (cnt) berdasarkan weathersit.

In [ ]:
weather_rentals = day_df.groupby('weathersit')['cnt'].sum().reset_index()
plt.figure(figsize=(10, 5))
plt.plot(weather_rentals['weathersit'], weather_rentals['cnt'], marker='o', linewidth=2, color="#72BCD4")
plt.title("Jumlah Penyewaan Sepeda Berdasarkan Kondisi Cuaca (Weathersit)", loc="center", fontsize=15)
plt.xlabel("Kondisi Cuaca (Weatherit)", fontsize=12)
plt.ylabel("Jumlah Penyewa (cnt)", fontsize=12)
plt.xticks(ticks=[1, 2, 3])
plt.ticklabel_format(style='plain', axis='y')
plt.show()

In [ ]:
fig, ax = plt.subplots()
sns.boxplot(x='weathersit', y='cnt', data=day_df, ax=ax)
plt.title("Jumlah Penyewaan Sepeda Berdasarkan Kondisi Cuaca (Weathersit)")
plt.xlabel("Kondisi Cuaca (Weathersit)")
plt.ylabel("Jumlah Penyewa (cnt)")
plt.show()

**Insight:**
- Kondisi Cuaca (Weathersit) 1: menunjukkan bahwa jumlah penyewa tertinggi terjadi di cuaca 1 yaitu bersih, sedikit awan, berangin sebagian.
- Kondisi Cuaca (Weathersit) 2: jumlah penyewa sepeda lebih rendah daripada weather situation 1. Kondisi cuaca 2 yaitu kabut+berawan, kabut+awan pecah, kabut+sedikit berawan, kabut.
- Kondisi Cuaca (Weathersit)n 3: pada cuaca 3 yaitu salju ringan, hujan ringan+badai petir+ awan tersebar, hujan ringan+awan tersebar, memiliki jumlah penyewa yang paling sedikit dibanding weather situation 1 dan 2.

### Pertanyaan 2: Bagaimana variasi penyewaan sepeda sepanjang hari?

Visualisasi menggunakan line chart untuk melihat jumlah sepeda yang disewa(cnt) berdasarkan hr.

In [ ]:
hourly_rentals = hour_df.groupby('hr')['cnt'].sum().reset_index()

plt.figure(figsize=(10, 5))
plt.plot(hourly_rentals['hr'], hourly_rentals['cnt'], marker='o', linewidth=2, color="#72BCD4")
plt.title("Jumlah Sepeda yang Disewa Berdasarkan Jam (hr)", loc="center", fontsize=15)
plt.xlabel("Jam (hr)", fontsize=12)
plt.ylabel("Jumlah Sepeda yang Disewa (cnt)", fontsize=12)
plt.xticks(ticks=range(0, 24))  # Setting the x-ticks from 0 to 23 to represent hours
plt.ticklabel_format(style='plain', axis='y')
plt.grid(True)  # Adding grid lines for better readability
plt.show()

Visualisasi menggunakan dogged bar untuk melihat pengguna casual dan registered berdasarkan jam (hr).

In [ ]:
hourly_casual_registered_melted = hour_df.melt(
    id_vars='hr', value_vars=['casual', 'registered'], var_name='User Type', value_name='Rental Count'
)

plt.figure(figsize=(12, 6))
sns.barplot(x='hr', y='Rental Count', hue='User Type', data=hourly_casual_registered_melted, 
            palette=["skyblue", "salmon"], edgecolor=None)
plt.title("Penyewaan Sepeda oleh Pengguna Casual dan Registered Sepanjang Hari")
plt.xlabel("Jam")
plt.ylabel("Jumlah Total Sepeda yang Disewa")
plt.legend(loc="upper right")
plt.grid(True)
plt.show()

**Insight:**
- Terdapat lonjakan jumlah sepeda yang disewakan diantara pukul 6 sampai 8 dan antara 16 sampai 17. Dimana lonjakan terebut dapat berkaitan dengan banyaknya aktivitas jumlah penggunaan sepeda dalam hal ini jumlah sepeda yang disewakan pada jam tersebut.
- Jumlah sepeda yang disewakan sangat rendah pada jam 0-5.
- Diantara jam 9-15 jumlah sepeda yang disewakan stabil.
- Penyewa sepeda lebih banyak pengguna registered daripada casual.

## Analisis Lanjutan

#### Pada Pertanyaan 1: Bagaimana distribusi peminjaman sepeda berdasarkan weathersit?
Melakukan clustering manual pada variable cnt. Data dibagi menjadi tiga kelompok (kuartil) berdasarkan jumlah peminjaman sepeda (rendah, sedang, tinggi). Pengelompokan ini akan memudahkan dalam melihat pola antara kondisi cuaca dan tingkat peminjaman.

Viualisasi menggunakan scatterplot untuk melihat distribusi peminjaman sepeda (cnt) berdasarkan weathersit dan hasil clustering kuartil yang telah dilakukan.

In [ ]:
day_df['Jumlah Penyewaan'] = pd.qcut(day_df['cnt'], q=3, labels=['Rendah', 'Sedang', 'Tinggi'])

sns.scatterplot(x='weathersit', y='cnt', hue='Jumlah Penyewaan', data=day_df, palette='coolwarm')
plt.title('Scatter Plot dari Jumlah Penyewaan dan Kondisi Cuaca (Weathersit)')
plt.xlabel('Kodisi Cuaca (Weathersit)')
plt.ylabel('Total Jumlah Penyewaan')
plt.xticks([1, 2, 3], ['1', '2', '3'])
plt.show()

Berdasarkan scatterplot di atas:
- Kondisi Cuaca (Weathersit) 1: menunjukkan bahwa sebagian besar penyewaan terjadi di cuaca 1 yaitu bersih, sedikit awan, berangin sebagian. Ini terlihat dari banyaknya titik yang terdistribusi pada kategori weathersit = 1, dan mereka mencakup rentang rendah, sedang, tinggi untuk jumlah penyewaan.
- Kondisi Cuaca (Weathersit) 2: penyewaan sepeda juga cukup sering terjadi dalam kondisi cuaca 2 yaitu kabut+berawan, kabut+awan pecah, kabut+sedikit berawan, kabut dengan distribusi penyewaan rendah, sedang, tinggi.
- Kondisi Cuaca (Weathersit) 3: pada cuaca 3 yaitu salju ringan, hujan ringan+badai petir+awan tersebar, hujan ringan+awan tersebar, penyewaan cenderung berkurang drastis, dengan distribusi penyewaan rendah dan sedang.

#### Pada Pertanyaan 2: Bagaimana variasi penyewaan sepeda sepanjang hari?
Melakukan clustering manual. Data dibagi menjadi tiga kelompok (kuartil) berdasarkan jumlah peminjaman sepeda (rendah, sedang, tinggi). Data hr juga akan dikelompokkan menjadi 5 (dini hari, pagi, siang, sore, malam). Visualisasi clustering menggunakan scatterplot.

In [ ]:
hourly_rentals = hour_df.groupby('hr')['cnt'].sum().reset_index()

def categorize_hour(hr):
    if 0 <= hr <= 4:
        return 'Dini Hari'
    elif 5 <= hr <= 11:
        return 'Pagi'
    elif 12 <= hr <= 15:
        return 'Siang'
    elif 16 <= hr <= 19:
        return 'Sore'
    else:
        return 'Malam'

hourly_rentals['time_of_day'] = hourly_rentals['hr'].apply(categorize_hour)
hourly_rentals['Jumlah Penyewaan'] = pd.qcut(hourly_rentals['cnt'], 3, labels=['Rendah', 'Sedang', 'Tinggi'])

plt.figure(figsize=(10, 5))
sns.scatterplot(x='time_of_day', y='cnt', hue='Jumlah Penyewaan', data=hourly_rentals, palette='coolwarm', s=100)

plt.title('Scatter Plot dari Bike Sharing', fontsize=15)
plt.xlabel('Waktu', fontsize=12)
plt.ylabel('Jumlah Sepeda yang Disewa', fontsize=12)
plt.grid(True)
plt.show()

Berdasrkan scatterplot di atas:
- Pagi (5-11) dan sore (16-19) adalah puncak penyewaan sepeda.
- Dini hari (0-4) dan malam (20-23) menunjukkan jumlah sepeda yang disewakan rendah, jumlah sepeda yang disewakan dini hari berada di kategori rendah, sedangkan malam rendah dan sedang.
- Waktu siang (12-15) memiliki kategori penyewaan yang cukup tinggi mendekati pagi dan sore hari.

## Conclusion

- Cuaca (weather situation) memiliki pengaruh yang signifikan terhadap jumlah penyewaan sepeda. Pengguna lebih banyak menyewa saat cuaca bersih, sedikit awan, berangin sebagian. Sedangkan penyewaan menurun drastis dalam kondisi cuaca salju ringan, hujan ringan+badai petir+awan tersebar, hujan ringan+awan tersebar.
- Waktu pagi (5-11) dan sore (16-19) paling tinggi dalam jumlah sepeda yang disewakan sehingga sangat penting untuk kapasitas maksimal sistem bike sharing, dengan waktu siang (12-15) juga memperlihatkan penggunaan bike sharing yang tinggi dan stabil. Redistribusi sepeda dan perawatan sistem pada dini hari (0-4) atau malam (20-23) dapat membantu memaksimalkan ketersediaan dan performa sistem karena pada jam tersebut termasuk rendah dan sedang dalam hal jumlah sepeda yang disewakan.